<!DOCTYPE html>
<html>
<head>
    <title>Beamy Music</title>
    <link rel="icon" type="image/jpg" href="~/Img/play.png" />
    <link rel="stylesheet" href="~/css/style3.css" />
    <link rel="stylesheet" href="~/css/style10.css" />
    <link rel="stylesheet" href="~/css/style11.css" />
    <link rel="stylesheet" href="~/css/style13.css" />
    <link rel="stylesheet" href="~/css/style6.css" />
    <link rel="stylesheet" href="~/css/style04.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <style type="text/css">
        body {
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 17, 224, 0.5) ), url(https://img2.rtve.es/i/?w=1600&i=1592493127332.jpg);
        }
        h1 {
            font-size: 34px;
            margin-bottom: 34px;
            border-bottom: 4px solid #e6e6e6;
            padding-bottom: 15px;
        }
        * {
            margin: 0px;
            padding: 0px;
        }

        #header {
            margin: auto;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul, ol {
            list-style: none;
        }

        .nav {
            margin: 0 auto; /*Centramos automaticamente*/
        }

            .nav > li {
                float: left;
            }

            .nav li a {
                background-color: #fff;
                color: #000000;
                text-decoration: none;
                padding: 10px 12px;
                display: block;
            }

                .nav li a:hover {
                    background-color: #434343;
                }

            .nav li ul {
                display: none;
                position: absolute;
                min-width: 140px;
            }

            .nav li:hover > ul {
                display: block;
            }

            .nav li ul li {
                position: relative;
            }

                .nav li ul li ul {
                    right: -140px;
                    top: 0px;
                }
    </style>
</head>
<body>
    <div class="container2">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="/usuario/interface" class="h-100 badge badge-light">Beamy Music</a>
                        <i class="fa fa-hand-peace-o"></i>
                        <a href="/autor/logout"><i class="fa fa-sign-out float-right"></i></a>

                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="@ViewBag.fotoPerfil.Imagen" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                <strong>@ViewData["Message"]</strong>
                            </span>
                            <span class="user-role">Usuario</span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span style="color:green">Online</span>
                            </span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <form action="/usuario/interface">
                                    <input class="form-control" type="search" name="search" placeholder="Search..." value="@ViewBag.Buscar">

                                    <button class="btn btn-outline-success my-2" type="submit">Buscar</button>
                                </form>

                            </div>

                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a href="/usuario/Albumes">
                                    <i class="fa fa-book"></i>
                                    Álbumes
                                </a>

                            </li>
                            <li>




                                <a href="/usuario/listaamigosseguidos">
                                    <i class="fa fa-users"></i>
                                    Amigos
                                </a>





                            </li>
                            <!--<li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span></span>

                    </a>

                </li>

                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-globe"></i>
                        <span>Maps</span>
                    </a>


                </li>-->
                            <li class="header-menu">
                                <span>Música</span>
                            </li>
                            <li>
                                <a href="/Usuario/Favoritos">
                                    <i class="fa fa-heart"></i>
                                    Mis Favoritas

                                </a>
                            </li>
                            <li>
                                <a href="/Usuario/PlayList">
                                    <i class="fa fa-star"></i>
                                    Play List
                                </a>
                            <li>
                                <a href="#popup"><i class="fa fa-plus"></i>Crear Play List</a>
                            </li>
                            <div>
                                <li>
                                    <div>
                                        <ul>
                                            @{ int con = 0; }
                                            @foreach (var item in ViewBag.ListPLayMenu)
                                            {
                                                con++;
                                <li>
                                    <a href="/usuario/listaPlaylist?id=@item.Id">@con.  @item.Nombre</a>
                                </li>}
                                        </ul>
                                    </div>
                                </li>
                            </div>
                        </ul>


                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content
                    <div class="sidebar-footer">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-warning notification">Música gratis</span>
                        </a>

                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span class="badge-sonar"></span>
                        </a>
                        <a href="#">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                    sidebar-wrapper  -->
                <div class="sidebar-menu" align="center">
                    <a href="/usuario/conocenos"><h1 class="h-100 badge badge-danger" style="color: #fff">CONÓCENOS</h1></a>
                </div>
            </nav>

            
            <main class="page-content">
                
                        <div align="center">
                            <a href="/usuario/albumes" class="btn btn-outline-light rounded-pill pl-5 pr-5" style="color: silver"><h2>ÁLBUMES</h2></a>
                            <br />
                            <br />
                            <h1></h1>
                        </div>
                    

                    <div class="container">
                        @foreach (var item in ViewBag.Albumes)
                        {


            <div class="row text-center">

                <div class="col-md-12">
                    <div class="card" style="color: red">
                        <div class="card-body my-3">

                            <h2 class="card-title font-weight-bold">ÁLBUM</h2>
                            <hr style="border-color:red;" />
                            <span class="card-title font-weight-bold" style="color: #2160e2">@item.Nombre </span><br />
                            <br />
                            <img src="@item.Foto" width="200" height="200" style="border: silver 1px solid; border-radius: 12px" alt="Alternate Text" />
                            <br />
                            <br />
                            <span class="card-title font-weight-bold" style="color: #2160e2">Fecha de Lanzamiento </span><br />
                            <span class="card-title font-weight-bold" style="color: #2160e2">@item.FechaDeLanzamiento </span><br />
                            <a href="/usuario/ListaAlbum?idAlbum=@item.Id"><button class="btn btn-outline-primary">Canciones</button></a>

                        </div>
                    </div>
                </div>

            </div>}
                    </div>
            </main>
            <!-- page-content" -->
        </div>
    </div>
    <!-- page-wrapper -->
    <!---->
    <!---->
    <script src="~/js/site2.js" asp-append-version="true"></script>

    <div id="popup" class="overlay">
        <div id="popupBody">
            <h2>CREAR PLAY LIST</h2>
            <a id="cerrar" href="#">&times;</a>
            <div class="popupContent">

                @{ List<BeamyMusic.Models.PlayList> playLists = ((List<BeamyMusic.Models.PlayList>)ViewBag.playList); }



                <div class="container">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="text-lef">
                                <form action="/usuario/PlayList" enctype="multipart/form-data" method="post">
                                    <label>Nombre</label>
                                    <input class="form-control" name="Nombre" autocomplete="off" value="@Model.Nombre" />

                                    <br />

                                    <label>Estado</label>
                                    <select name="Estado">
                                        <option value="0">Público</option>
                                        <option value="1">Privado</option>
                                    </select>

                                    <br />
                                    <label>Foto </label>
                                    <input type="file" name="Foto" />

                                    <br />
                                    <button class="btn btn-success">Crear</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>